body
{
    background: url(../images/bg2.png);
}
.site
{
    font-family: 'Holtwood One SC', sans-serif;
}
.text-logo
{
    font-family: 'Holtwood One SC', sans-serif;
    color: burlywood;
    text-shadow: 2px 2px seagreen;
    font-size: 50px;
    padding: 40px 0px;
    text-align: center;
}
.text-logo .glyphicon
{
    color: seagreen;
    text-shadow: 0px 0px seagreen;
}
.nav
{
    margin-bottom: 40px;
}

.price
{
    background: #5cb85c;
    box-shadow: 0 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 1px rgba(0,0,0,0.2);
    color: #fff;
    text-shadow: 2px 2px #333;
    position: absolute;
    left: 6px;    
    top: 20px;
    padding: 5px 10px;
    font-size: 20px;
    border-radius: 3px;
}
.price:before 
{
    border: 4px solid transparent;
    border-bottom: 4px solid #4a934a;
    border-right: 4px solid #4a934a;
    content: "";
    position: absolute;
    left: 1px;
    top: -8px;
}
.caption > h4
{
    color: rgb(128, 128, 192);
    font-size: 18px;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover
{
    background: burlywood;
}
.nav>li>a:focus, .nav>li>a:hover 
{
    color: burlywood;
    background-color: #eee;
}
.nav>li>a
{
    color: #eee;
    font-size: 18px;
    text-shadow: 2px 2px #333;
}
.btn-order
{
    width: 100%;
    padding: 10px;
    color: #fff;
    background-color: rgb(128, 192, 192);
    text-decoration: none;
}
.btn-order:hover, .btn-order:focus
{
    color: #fff;
    background-color: rgb(128, 192, 192);
}


.admin
{
    background: #fff;
    padding: 50px;
    border-radius: 10px;
}
.commande
{
    background: #fff;
    padding: 20px;
    border-radius: 5px;
}
.facture
{
    background: #fff;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    width: 500px;
}
.help-inline
{
    color: red;
}
.lien
{
    background: #fff;
    margin-top: 3px;
    padding: 1px;
    border-radius: 5px;
}
.lien2
{
    text-align: center;
}
.login
{
    
}